form {
    width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #3e8e41;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.add-student {
    color:black;
    background: white;
    width: 150px;
    height:25px;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    padding: 20px;
    margin-bottom: 60px;
}
